body {
    background-image: url("/photos/cottonCandyOld.jpg");
    background-size: cover;
    background-position: center;
 
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
    margin-bottom: 20px; /* Adjust the spacing between the heading and the button */
}
p {
    font-family: 'Open-Dyslexic', sans-serif;
    text-align: center;
    font-size: 25px;
}
.twinkllogo {
    align-self: center;
    height: 100px;
    width: auto;
}
.twinkl {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
    margin-bottom: 20px; /* Adjust the spacing between the heading and the button */
}
.back {
    font-family: 'Open-Dyslexic', sans-serif;
    text-align: center;
    font-size: 23px;
}