body {
    background-image: url("/photos/Cotton\ Candy.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
    margin-bottom: 20px; /* Adjust the spacing between the heading and the button */
}
p{
    font-family: 'Open-Dyslexic', sans-serif;
    text-align: center;
    font-size: 33px;
}