body {
    background-image: url("/tb/photos/Cotton\ Candy.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
    margin-bottom: 20px; /* Adjust the spacing between the heading and the button */
}

.bn49 {
    border: 0;
    text-align: center;
    display: inline-block;
    padding: 14px;
    width: 150px;
    margin: 7px;
    color: #ffffff;
    background-color: #36a2eb;
    border-radius: 8px;
    font-family: "proxima-nova-soft", sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: box-shadow 200ms ease-out;
}